<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss}:${project.name} %p %t [%F:%L] - %m%n
        </Property>
        <Property name="BASE_PATH">
            /var/log/unipool
        </Property>
        <Property name="PROJECT_NAME">
            booking-service
        </Property>
    </Properties>
    <Appenders>
        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="${BASE_PATH}/unipool#${PROJECT_NAME}#${env:MY_NODE_NAME}#${env:MY_POD_NAME}.log" 
                immediateFlush="true" filePattern="${BASE_PATH}/unipool#${PROJECT_NAME}#${env:MY_NODE_NAME}#${env:MY_POD_NAME}#%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileAppender" />
            
        </Root>
    </Loggers>
</Configuration>